@import "variables";
@import "fuentes";

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: map-get($fuentes, regular);
}

.container-fluid{
    margin: 0 3rem;
    @media all and (max-width: 366px){
        margin: 0 1rem;
    }
}

.navbar-brand{
    background-image: url(../img/legion1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 175px;
    height: 76px;
    transition: all 200ms;
    &:hover{
        transform: scale(1.1);
    }
}
.navbar-toggler{
    border: none;
    &:focus{
        box-shadow: none;
    }
    .ham{
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#fff;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .ham4 .top {
        stroke-dasharray: 40 121;
    }
    .ham4 .bottom {
        stroke-dasharray: 40 121;
    }
    .ham4.active .top {
        stroke-dashoffset: -68px;
    }
    .ham4.active .bottom {
        stroke-dashoffset: -68px;
    }
}

#navbarDark{
    justify-content: right;
    ul{
        li{
            .link{
                text-transform: uppercase;
                position: relative;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
                font-size: 15px;
                font-weight: bold;
                &:after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    background-color: $color-nav;
                    width: 0;
                    left: 50%;
                    bottom: 0;
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
                }
                &:hover:after{
                    width: 100%;
                }
            }
            .testing{
                text-transform: uppercase;
                position: relative;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 5.9px;
            }
        }
    }
    .testing{
        color: $color-nav;
        border-bottom: 2px solid $color-nav;
    }
}

.animation{
    backdrop-filter: blur(2px);
    transition: all 300ms;
    &:hover{
        padding: .7rem 0;
    }
}

.whatsapp{
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    width: 50px;
}

#footer{
    .imagen{
        width: 200px;
        height: 108px;
        transition: all 300ms;
        &:hover{
            transform: scale(1.05);
        }
    }
    .logo{
        width: 45px;
        margin: 0 10px;
        transition: all 300ms;
        &:hover{
            transform: scale(1.05)
        }
        @media all and (max-width: 769px){
            margin: 0 5px;
        }
    }
}

@import "pages/main";
@import "pages/nosotros";
@import "pages/servicios";
@import "pages/catalogo";
@import "pages/contacto";

